<!DOCTYPE html>
<html ng-app = "myApp">
    <head>
        <meta charset="UTF-8">
        <!-- <script type="text/javascript" src="script/myip.js"></script> -->
        <!-- angular js -->
        <script src="script/angular.min.js"></script>
        <script src="script/lan.js"></script>
        <!--  -->
        <link rel="stylesheet" href="css/mainwindow.css">
        <title>Hello World!</title>
    </head>

    <body>
        <main>
        <!-- left main window : -->
        <div id="main" ng-controller="LanController">
            <ips>
                <ips_title id="ips_title">
                    <div>[ ip list ]</div>
                </ips_title>

                <select class="ipShow" id="ips" multiple size="255" ng-model="selectedIP" ng-change="changeSelectedIP()">
                    <option ng-repeat="ip in ips">
                        <div>{{ip.ip}}</div>
                    </option>
                </select>
            </ips>


            <!-- right interface information -->
            <interface>
                <select class="info" id="interface" name="interface" ng-init="initInterface()">
                    <option ng-repeat="interface in interfaces">
                        <div>{{interface.interface}}:{{interface.address}}</div>
                    </option>
                </select>
                <btn>
                    <button class = "reload_interface" type="submit" ng-click="reloadInterface();"/>
                        reload
                    </button>
                </btn>
            </interface>


            <!-- right detail information and operation buttons -->
            <info_and_button>
                <info>
                    <info_title>[ information ]</info_title>
                    <div class="information" id="informaiton">
                        <div ng-repeat="detail in information">
                            <div>{{detail}}</div>
                        </div>
                    </div>
                    <!-- <script> -->
                        <!-- var my_ip = getLocalAddress(); -->
                        <!-- // var my_ip = test(); -->
                        <!-- document.write(my_ip); -->
                    <!-- </script> -->
                </info>

                <buttons>
                    <!-- <button_search> -->
                    <button class = "button_search" type="submit" ng-click="searchIP()">search ip</button>
                    <!-- </button_search> -->
                    <!-- <button_info> -->
                    <button class = "button_info" type="submit" ng-click="scanIP();">scan ip</button>
                    <!-- </button_info> -->
                </buttons>
            </info_and_button>

            <!-- operation history -->
            <footer>
                <div class="history" id="history">
                    <div ng-repeat="history in historys" style={{history.color}} history-draw-finish>
                        <div> > {{history.message}}</div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>